<div class="addStuDiv">
  <div class="addStuDiv1">
    <h1 id="tableLabel">Students</h1>
  </div>
  <div class="addStuDiv2">
    <a routerLink="/AddStudent"><button class="btn btn-success pull-right" > Add Student</button></a>
  </div>
</div>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Major</th>
      <th>Average Grade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.major }}</td>
      <td [ngStyle]="{'color': getColor(student.averageGrade)}">{{ student.averageGrade }}</td>
      <td><a><button class="btn btn btn-danger pull-right" (click)="deleteStudent(student)"> Delete</button></a></td>
    </tr>
  </tbody>
</table>