/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.studentform {
  width: 70%;
}

.studentform .col-sm-3{
  margin-top: 10px;
}

.studentform .col-sm-9{
  margin-top: 10px;
}

.addStuDiv{
  display: flex; justify-content: space-around;
}

.addStuDiv1 {
  width: 80%;
}

.addStuDi2 {
  width: 20%; margin-top: 10px;
}

.backBtn {
  display: flex;
}

.backBtn a {
  float: left;
}